.App {
  font-family: arial, sans-serif;
}

h1 {
  text-align: center;
}
.table_wrapper {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dialog_wrapper {
  background-color: #00000066;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 80px;
}

.dialog_body {
  background-color: white;
  width: 70%;
  max-width: 640px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.dialog_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #dddddd;
  margin: 1rem;
  padding: 0.5rem;
}

.dialog_button {
  background-color: transparent;
  align-items: center;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
}

.dialog_button:hover {
  background-color: #dddddd;
  transition: 0.7s;
  color: white;
}
