.App {
  font-family: arial, sans-serif;
}

h1 {
  text-align: center;
}

.table_wrapper {
  padding: 0 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
}

th {
  border-bottom: 1px solid #dddddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: #dddddd;
}

.table_row_selected {
  background-color: #dddddd;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #afe313;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.table_toolbar_wrapper {
  display: flex;
  align-items: center;
  margin: 10px;
}

.dialog_wrapper {
  background-color: #00000066;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 80px;
}

.dialog_body {
  background-color: white;
  width: 70%;
  max-width: 640px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.dialog_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #dddddd;
  margin: 1rem;
  padding: 0.5rem;
}

.table_button {
  background-color: transparent;
  align-items: center;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.table_button:hover {
  background-color: #dddddd;
  transition: 0.7s;
  color: white;
}

.table_wrapper .table_button {
  margin-left: 2rem;
}

.dialog_wrapper .table_button {
  margin-top: 1rem;
}

.button_icon {
  margin-right: 5px;
  vertical-align: middle;
}
