.table_wrapper {
  padding: 1rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #afe313;
  border-radius: 50%;
  display: inline-block;
}
